<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="background-color: #ffffff;">
<div class="row menu">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="@Url.Action("Index", "Home")"><span style="font-size: 20px;">&#10149;</span> ПЕРЕЙТИ НА САЙТ</a></li>
        <li role="presentation"><a href="@Url.Action("Index", "Admin")"><span style="font-size: 20px;">&#9745;</span> РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ</a></li>
        <li role="presentation"><a href="@Url.Action("AddNewQuestion", "Admin")"><span style="font-size: 20px;">&#10010;</span> ДОБАВИТЬ ВОПРОС</a></li>
        <li role="presentation"><a href="@Url.Action("EditQuestions", "Admin")"><span style="font-size: 20px;">&#10000;</span> РЕДАКТИРОВАТЬ ВОПРОСЫ</a></li>
        <li role="presentation" class="pull-right" style="margin-right: 50px;"><a href="@Url.Action("Logout", "Admin")"><span style="font-size: 20px;">&#10008;</span> ВЫЙТИ ИЗ СИСТЕМЫ</a></li>
    </ul>
</div>
<div class="row" style="margin-left: 100px">
    <div class="col-xs-9">
        

        @RenderBody()
    </div>
</div>

</body>
</html>
