
@{
    ViewBag.Title = "Результаты тестирования";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model TestingSystem.Models.Student
<h2 style="margin: 30px 0">Результаты тестирования</h2>

<table class="table table-hover table-bordered">
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Группа</th>
        <th>Имя компьютера</th>
        <th>IP-адрес компьютера</th>
        <th>Дата прохождения теста</th>
        <th>Баллы</th>
        <th>Количество вопросов</th>
        <th>Процент правильных ответов</th>
    </tr>
    @{ int i = 1; }
    @foreach (var result in ViewBag.stud)
    {
        var id = i++;
        var name = result.Name;
        var lastName = result.LastName;
        var group = result.Group;
        var pcName = result.PCName;
        var ipAddress = result.IPAddress;
        var dateTime = result.DateAndTime.ToString();
        var points = result.Points;
        var totalQuestions = result.TotalPoints;
        var percent = result.AnswersPercent;
        <tr>
            <td>@id</td>
            <td>@name</td>
            <td>@lastName</td>
            <td>@group</td>
            <td>@pcName</td>
            <td>@ipAddress</td>
            <td>@dateTime</td>
            <td><b>@points</b></td>
            <td><b>@totalQuestions</b></td>
            <td><b>@percent</b></td>
        </tr>
    }
</table>