
@{
    ViewBag.Title = "Результати тестування";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model TestingSystem.Models.Student
<h2 style="margin: 30px 0">Результати тестування</h2>
<button type="button" id="printBtn" class="pull-right"></button>
<script type="text/javascript">
    $("#printBtn").click(function () {
        window.print();
        
    });
</script>
<table id="resultTable" class="table table-hover table-bordered">
    <tr>
        <th>№</th>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Група</th>
        <th>Ім'я комп'ютера</th>
        <th>IP-адреса комп'ютера</th>
        <th>Дата проходження тесту</th>
        <th>Бали</th>
        <th>Кількість питань</th>
        <th>Відсоток вірних відповідей</th>
        <th>Видалити</th>
    </tr>
    @{ int i = 1; }
    @foreach (var result in ViewBag.stud)
    {
        var id = i++;
        var name = result.Name;
        var lastName = result.LastName;
        var group = result.Group;
        var pcName = result.PCName;
        var ipAddress = result.IPAddress;
        var dateTime = result.DateAndTime.ToString();
        var points = result.Points;
        var totalQuestions = result.TotalPoints;
        var percent = result.AnswersPercent;
        <tr>
            <td>@id</td>
            <td>@name</td>
            <td>@lastName</td>
            <td>@group</td>
            <td>@pcName</td>
            <td>@ipAddress</td>
            <td>@dateTime</td>
            <td><b>@points</b></td>
            <td><b>@totalQuestions</b></td>
            <td><b>@percent</b></td>
            <td align="center">
                <a href="#" class="deleteResultBtn"><span>&#10006;</span></a>
            </td>
        </tr>
    }
</table>